{:type :fn, :src "(deftest rec-pred-test\n  (is ((every-pred\n         (t/pred (t/Rec [x] (t/U '[x] Number))))\n       1\n       '[1]\n       '[[1]]\n       '[[[[[2.2]]]]]))\n  (is ((every-pred\n         (t/pred (t/Rec [x] (t/U '{:a x} Number))))\n       1\n       '{:a 1}\n       '{:a {:a 1}}\n       '{:a {:a {:a {:a {:a 1}}}}}))\n  (is ((every-pred\n         (complement\n           (t/pred (t/Rec [x] (t/U '[x] Number)))))\n       '[1 1]\n       '[[1] [1]])))", :ns "clojure.core.typed.test.pred", :name "rec-pred-test", :file "clojure/core/typed/test/pred.clj", :column 1, :line 70, :test #<pred$fn__20465 clojure.core.typed.test.pred$fn__20465@61e6d089>}