{:type :fn, :src "(deftest inline-annotation-test\n  ; code from David Nolen's blog\n  ;FIXME\n  #_(is-tc-e\n    (defn ^{:ann '[(t/U nil (ISeqable t/Any)) t/Any -> int]}\n      index-of [xs x]\n      (let [len (count xs)]\n        (t/loop>\n         [i :- int, 0]\n         (if (< i len)\n           (if (= (nth xs i) x)\n             i\n             (recur (inc i)))\n           -1))))))", :ns "clojure.core.typed.test.cljs", :name "inline-annotation-test", :file "clojure/core/typed/test/cljs.clj", :column 1, :line 96, :test #<cljs$fn__17386 clojure.core.typed.test.cljs$fn__17386@4c5f955>}