{:ns "clojure.core.typed.async", :name "maybe-annotation", :file "clojure/core/typed/async.clj", :type :fn, :src "(t/tc-ignore\n(defn ^:skip-wiki maybe-annotation [args]\n  (let [t? (#{:-} (first args))\n        t (when t? (second args))\n        args (if t? \n               (drop 2 args)\n               args)]\n    [t? t args]))\n)", :skip-wiki true, :column 1, :line 293, :arglists ([args])}