{:type :fn, :src "(defn check-form-cljs\n  \"Check a single form with an optional expected type.\n  Intended to be called from Clojure. For evaluation at the Clojurescript\n  REPL see cf.\"\n  [form expected expected-provided?]\n  (ucljs/with-cljs-typed-env\n    (comp/with-core-cljs\n      (chk-form/check-form* (config-map)\n         form expected expected-provided?))))", :ns "clojure.core.typed.check-form-cljs", :name "check-form-cljs", :file "clojure/core/typed/check_form_cljs.clj", :column 1, :line 23, :arglists ([form expected expected-provided?]), :doc "Check a single form with an optional expected type.\n  Intended to be called from Clojure. For evaluation at the Clojurescript\n  REPL see cf."}