{:type :fn, :src "(defn unparse-TCResult-in-ns [r ns]\n  {:pre [((some-fn con/namespace? symbol?) ns)]}\n  (binding [*unparse-type-in-ns* (if (symbol? ns)\n                                   ns\n                                   (ns-name ns))]\n    (unparse-TCResult r)))", :ns "clojure.core.typed.parse-unparse", :name "unparse-TCResult-in-ns", :file "clojure/core/typed/parse_unparse.clj", :column 1, :line 1711, :arglists ([r ns])}