{:type :fn, :src "(defn collect-asts [asts]\n  (doseq [ast asts]\n    (collect ast)))", :ns "clojure.core.typed.collect-phase", :name "collect-asts", :file "clojure/core/typed/collect_phase.clj", :column 1, :line 53, :arglists ([asts])}