{:type :fn, :src "(defn subtype-not-type-filter? [s t]\n  {:pre [(fr/NotTypeFilter? s)\n         (fr/NotTypeFilter? t)]}\n  (let [s (simplify-not-type-filter s)\n        t (simplify-not-type-filter t)]\n    (and (= (:path s) (:path t))\n         (= (:id s) (:id t))\n         (subtype? (:type t) (:type s)))))", :ns "clojure.core.typed.subtype", :name "subtype-not-type-filter?", :file "clojure/core/typed/subtype.clj", :column 1, :line 1088, :arglists ([s t])}