{:type :fn, :src "(defn silent-hole\n  \"A silent hole. (silent-hole) passes for any other type\n  when type checking.\n  Use (silent-hole) as a placeholder for code.\n  Throws an exception when evaluted.\"\n  [] \n  (throw (Exception. \"silent hole\")))", :ns "clojure.core.typed.hole", :name "silent-hole", :file "clojure/core/typed/hole.clj", :column 1, :line 8, :arglists ([]), :doc "A silent hole. (silent-hole) passes for any other type\n  when type checking.\n  Use (silent-hole) as a placeholder for code.\n  Throws an exception when evaluted."}