{:type :var, :src "(defonce ^:dynamic \n  ^{:doc \n  \"If true, print fully qualified types in error messages\n  and return values. Bind around a type checking form like \n  cf or check-ns.\n  \n  eg. \n  (binding [*verbose-types* true] \n    (cf 1 Number))\n  ;=> java.lang.Number\"}\n  *verbose-types* \n  nil)", :ns "clojure.core.typed.util-vars", :name "*verbose-types*", :file "clojure/core/typed/util_vars.clj", :column 1, :dynamic true, :line 6, :doc "If true, print fully qualified types in error messages\n  and return values. Bind around a type checking form like \n  cf or check-ns.\n  \n  eg. \n  (binding [*verbose-types* true] \n    (cf 1 Number))\n  ;=> java.lang.Number"}