{:type :fn, :src "(defrecord ValidationError [validator value])", :ns "clojure.core.typed.test.recursive", :name "map->ValidationError", :file "clojure/core/typed/test/recursive.clj", :column 1, :line 14, :arglists ([m__6206__auto__]), :doc "Factory function for class clojure.core.typed.test.recursive.ValidationError, taking a map of keywords to field values."}