{:type :fn, :src "(deftest absent-keys-test\n  (is (not (sub?-q `(HMap :mandatory {:a String}\n                          :complete? true)\n                   `(HMap :absent-keys #{:a}))))\n  (is-tc-err {:a \"a\"} (HMap :absent-keys #{:a})))", :ns "clojure.core.typed.test.core", :name "absent-keys-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 2052, :test #<core$fn__28507 clojure.core.typed.test.core$fn__28507@64636886>}