{:type :fn, :src "(defn parse-filter-set [{:keys [then else] :as fsyn}]\n  (fl/-FS (if then\n            (parse-filter then)\n            f/-top)\n          (if else\n            (parse-filter else)\n            f/-top)))", :ns "clojure.core.typed.parse-unparse", :name "parse-filter-set", :file "clojure/core/typed/parse_unparse.clj", :column 1, :line 984, :arglists ([{:keys [then else], :as fsyn}])}