{:type :var, :src "(def common-var-annotations\n  (let [r (rdrs/string-push-back-reader common-ann*)\n        eof (Object.)\n        os (loop [os []]\n             (let [a (rdr/read r false eof)]\n               (if (identical? eof a)\n                 os\n                 (recur (conj os a)))))\n        _ (assert (even? (count os)))]\n    (apply hash-map os)))", :ns "clojure.core.typed.base-env-common", :name "common-var-annotations", :file "clojure/core/typed/base_env_common.clj", :column 1, :line 662}