{:type :fn, :src "(deftest string-as-seqable-test\n  (is-clj (subtype? \n            (RClass-of String)\n            (RClass-of Seqable [-any])))\n  (is-clj (subtype? \n            (-val \"a\")\n            (RClass-of Seqable [-any])))\n  (is-tc-e (seq \"a\"))\n  (is-tc-e (first \"a\") Character)\n  (is-tc-e (first (ann-form \"a\" String)) (Option Character)))", :ns "clojure.core.typed.test.core", :name "string-as-seqable-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1248, :test #<core$fn__27159 clojure.core.typed.test.core$fn__27159@3ffc3464>}