{:ns "clojure.core.typed.async", :name "sliding-buffer>", :file "clojure/core/typed/async.clj", :type :macro, :src "(defmacro sliding-buffer>\n  \"DEPRECATED: use sliding-buffer\"\n  [t & args]\n  (prn \"DEPRECATED: sliding-buffer>, use sliding-buffer\")\n  `((inst async/sliding-buffer ~t) ~@args))", :column 1, :line 440, :macro true, :arglists ([t & args]), :doc "DEPRECATED: use sliding-buffer"}