{:ns "clojure.core.typed.test.rps-async", :name "init", :file "clojure/core/typed/test/rps_async.clj", :type :fn, :src "(defn init\n  \"Create 2 players (by default Alice and Bob) and return an output channel of match results.\"\n  ([] (init \"Alice\" \"Bob\"))\n  ([n1 n2] (judge (rand-player n1) (rand-player n2))))", :column 1, :line 73, :arglists ([] [n1 n2]), :doc "Create 2 players (by default Alice and Bob) and return an output channel of match results."}