{:ns "clojure.core.typed.test.logic.macros", :name "llist", :file "clojure/core/typed/test/logic/macros.clj", :type :macro, :src "(defmacro llist\n  \"Constructs a sequence from 2 or more arguments, with the last argument as the tail.\n  The tail is improper if the last argument is a logic variable.\"\n  ([f s] `(cljs.core.logic/lcons ~f ~s))\n  ([f s & rest] `(cljs.core.logic/lcons ~f (llist ~s ~@rest))))", :column 1, :line 7, :macro true, :arglists ([f s] [f s & rest]), :doc "Constructs a sequence from 2 or more arguments, with the last argument as the tail.\n  The tail is improper if the last argument is a logic variable."}