{:type :fn, :src "(defn all-defaults? [fn-anns poly]\n  (let [defaults (concat\n                   (map (fn [{:keys [dom]}]\n                          (map :default dom))\n                        fn-anns)\n                   (map (comp :default :rng) fn-anns)\n                   (map (fn [{:keys [rest]}]\n                          (or (:default rest)\n                              (nil? rest)))\n                        fn-anns)\n                   (map (comp not :drest) fn-anns))]\n    (and (not poly)\n         (every? identity defaults))))", :ns "clojure.core.typed.check.special.fn", :name "all-defaults?", :file "clojure/core/typed/check/special/fn.clj", :column 1, :line 69, :arglists ([fn-anns poly])}