{:type :fn, :src "(defn HSeq->HSequential [s]\n  {:pre [(r/HeterogeneousSeq? s)]\n   :post [(r/HSequential? %)]}\n  (r/-hsequential (:types s)\n                  :filters (:fs s)\n                  :objects (:objects s)\n                  :rest (:rest s)\n                  :drest (:drest s)))", :ns "clojure.core.typed.type-ctors", :name "HSeq->HSequential", :file "clojure/core/typed/type_ctors.clj", :column 1, :line 91, :arglists ([s])}