{:type :fn, :src "(core/defn parse-colon\n  \"Returns a vector of [provided? t args]\"\n  [fdecl name]\n  (if (#{:-} (first fdecl))\n    (core/let [[colon t & body] fdecl]\n      [true t body])\n    [false nil fdecl]))", :ns "clojure.core.typed.macros", :name "parse-colon", :file "clojure/core/typed/macros.clj", :column 1, :line 14, :arglists ([fdecl name]), :doc "Returns a vector of [provided? t args]"}