{:ns "clojure.core.typed", :name "atom", :file "clojure/core/typed/macros.clj", :type :macro, :src "(defmacro atom\n  \"Like atom, but with optional type annotations.\n  \n  Same as (atom (ann-form init t) args*)\n  \n  eg. (atom 1) : (Atom1 (Value 1))\n      (atom :- Num, 1) : (Atom1 Num)\"\n  [& args]\n  (let [[provided? t args] (parse-colon args 'atom)\n        [init & args] args]\n    `(core/atom ~(if provided?\n                   `(ann-form ~init ~t)\n                   init)\n                ~@args)))", :column 1, :line 209, :macro true, :arglists ([& args]), :doc "Like atom, but with optional type annotations.\n  \n  Same as (atom (ann-form init t) args*)\n  \n  eg. (atom 1) : (Atom1 (Value 1))\n      (atom :- Num, 1) : (Atom1 Num)"}