{:type :fn, :src "(deftest datatype-variance-test\n  (is (check-ns 'clojure.core.typed.test.variance-test)))", :ns "clojure.core.typed.test.core", :name "datatype-variance-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 2735, :test #<core$fn__31137 clojure.core.typed.test.core$fn__31137@27c3d9d6>}