{:type :fn, :src "(defn isa-DataType? [sym-or-cls]\n  {:pre [((some-fn symbol? class?) sym-or-cls)]}\n  (let [cls (if (class? sym-or-cls)\n              sym-or-cls\n              (coerce/symbol->Class sym-or-cls))]\n    (and (isa? cls clojure.lang.IType)\n         (not= cls clojure.lang.IType))))", :ns "clojure.core.typed.type-ctors", :name "isa-DataType?", :file "clojure/core/typed/type_ctors.clj", :column 1, :line 730, :arglists ([sym-or-cls])}