{:ns "clojure.core.typed.test.util-aliases", :name "UnionName", :file "clojure/core/typed/test/util_aliases.clj", :type :var, :src "(t/defalias UnionName (t/U MapStruct1 MapStruct2))", :column 1, :line 10, :declared true}