{:type :fn, :src "(defn flip-variances [vs]\n  {:pre [(variance-map? vs)]}\n  (zipmap (keys vs) \n          (map (t/fn [vari :- r/Variance]\n                 (case vari\n                   :covariant :contravariant\n                   :contravariant :covariant\n                   vari))\n               (vals vs))))", :ns "clojure.core.typed.frees", :name "flip-variances", :file "clojure/core/typed/frees.clj", :column 1, :line 86, :arglists ([vs])}