{:type :fn, :src "(deftest new-instance-method-return-test\n  (is (check-ns 'clojure.core.typed.test.protocol))\n  (is (err/top-level-error-thrown?\n        (check-ns 'clojure.core.typed.test.protocol-fail))))", :ns "clojure.core.typed.test.core", :name "new-instance-method-return-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1286, :test #<core$fn__27295 clojure.core.typed.test.core$fn__27295@1e442ac9>}