{:type :fn, :src "(defn make-Union\n  \"Arguments should not overlap or be unions\"\n  [args]\n  (cond\n    (= 1 (count args)) (first args)\n    :else \n    (let [{unions true non-unions false} (group-by r/Union? args)]\n      (r/Union-maker (r/sorted-type-set \n                       (concat (mapcat :types unions)\n                               non-unions))))))", :ns "clojure.core.typed.type-ctors", :name "make-Union", :file "clojure/core/typed/type_ctors.clj", :column 1, :line 58, :arglists ([args]), :doc "Arguments should not overlap or be unions"}