{:type :fn, :src "(deftest recur-rest-args-test\n  (is (check-ns 'clojure.core.typed.test.recur-rest-arg))\n  (is (err/top-level-error-thrown?\n        (check-ns 'clojure.core.typed.test.fail.recur-non-seq-rest)))\n  (is (err/top-level-error-thrown?\n        (check-ns 'clojure.core.typed.test.fail.recur-empty-seq))))", :ns "clojure.core.typed.test.core", :name "recur-rest-args-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 2915, :test #<core$fn__31475 clojure.core.typed.test.core$fn__31475@6655f2cc>}