{:type :fn, :src "(deftest add-scopes-test\n  (is-clj (let [body (make-F 'a)]\n        (= (add-scopes 0 body)\n           body)))\n  (is-clj (let [body (make-F 'a)]\n        (= (add-scopes 1 body)\n           (Scope-maker body))))\n  (is-clj (let [body (make-F 'a)]\n        (= (add-scopes 3 body)\n           (-> body Scope-maker Scope-maker Scope-maker)))))", :ns "clojure.core.typed.test.core", :name "add-scopes-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 66, :test #<core$fn__22729 clojure.core.typed.test.core$fn__22729@7dce9137>}