{:type :var, :src "(defonce METHOD-PARAM-NILABLE-ENV \n  (atom {}\n        :validator (con/hash-c? (every-pred namespace symbol?)\n                                (con/hash-c? (some-fn #{:all} con/znat?)\n                                             (some-fn #{:all} (con/set-c? con/znat?))))))", :ns "clojure.core.typed.method-param-nilables", :name "METHOD-PARAM-NILABLE-ENV", :file "clojure/core/typed/method_param_nilables.clj", :column 1, :line 8}