{:type :var, :src "(def record-implicits\n  '#{entrySet values keySet clear putAll remove put get containsValue isEmpty size without\n     assoc iterator seq entryAt containsKey equiv cons empty count getLookupThunk valAt\n     withMeta meta equals hashCode hasheq})", :ns "clojure.core.typed.check.utils", :name "record-implicits", :file "clojure/core/typed/check/utils.clj", :column 1, :line 139}