{:ns "clojure.core.typed", :name "inst", :file "clojure/core/typed.clj", :type :macro, :src "(defmacro inst \n  \"Instantiate a polymorphic type with a number of types.\n  \n  eg. (inst foo-fn t1 t2 t3 ...)\"\n  [inst-of & types]\n  `(inst-poly ~inst-of '~types))", :column 1, :line 111, :macro true, :arglists ([inst-of & types]), :doc "Instantiate a polymorphic type with a number of types.\n  \n  eg. (inst foo-fn t1 t2 t3 ...)"}