{:type :fn, :src "(deftest poly-filter-test\n  (is-clj (both-subtype? \n            (ret-t (tc-t (let [a (clojure.core.typed/ann-form [1] (clojure.core.typed/Coll clojure.core.typed/AnyInteger))]\n                           (if (seq a)\n                             (first a)\n                             'a))))\n            (parse-type `(U AnyInteger (Value ~'a))))))", :ns "clojure.core.typed.test.core", :name "poly-filter-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 954, :test #<core$fn__24604 clojure.core.typed.test.core$fn__24604@45761ad8>}