{:ns "clojure.core.typed.test.logic.macros", :name "project", :file "clojure/core/typed/test/logic/macros.clj", :type :macro, :src "(defmacro project\n  \"Extract the values bound to the specified logic vars. Non-relational.\"\n  [[& vars] & goals]\n  (let [a (gensym \"a\")]\n    `(fn [~a]\n       (let [~@(project-bindings vars a)]\n         ((fresh []\n            ~@goals) ~a)))))", :column 1, :line 152, :macro true, :arglists ([[& vars] & goals]), :doc "Extract the values bound to the specified logic vars. Non-relational."}