{:type :fn, :src "(defn declared-kind-or-nil [sym]\n  (assert-declared-kinds)\n  (@*current-declared-kinds* sym))", :ns "clojure.core.typed.declared-kind-env", :name "declared-kind-or-nil", :file "clojure/core/typed/declared_kind_env.clj", :column 1, :line 31, :arglists ([sym])}