{:type :fn, :src "(deftest hmap-smart-infer-test\n  (is-cf {:a #(+ % 1)} (HMap :optional {:a [Number -> Number]})))", :ns "clojure.core.typed.test.core", :name "hmap-smart-infer-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1870, :test #<core$fn__28160 clojure.core.typed.test.core$fn__28160@27fcea34>}