{:type :fn, :src "(defn print-filterset\n  \"During type checking, print the filter set attached to form, \n  preceeded by literal string debug-string.\n  Returns nil.\n  \n  eg. (let [s (seq (get-a-seqable))]\n        (print-filterset \\\"Here now\\\" s))\"\n  [debug-string frm]\n  frm)", :ns "clojure.core.typed", :name "print-filterset", :file "clojure/core/typed.clj", :column 1, :line 89, :doc "During type checking, print the filter set attached to form, \n  preceeded by literal string debug-string.\n  Returns nil.\n  \n  eg. (let [s (seq (get-a-seqable))]\n        (print-filterset \"Here now\" s))"}