{:type :fn, :src "(deftest parse-type-test\n  (is-clj (= (Poly-body* '(x) (parse-type '(clojure.core.typed/All [x] x)))\n            (make-F 'x)))\n  (is-clj (= (Poly-body* '(x y) (parse-type '(clojure.core.typed/All [x y] x)))\n             (make-F 'x)))\n  (is-clj (= (Poly-body* '(x y) (parse-type '(clojure.core.typed/All [x y] y)))\n             (make-F 'y)))\n  (is-clj (= (Poly-body* '(a b c d e f g h i) (parse-type '(clojure.core.typed/All [a b c d e f g h i] e)))\n             (make-F 'e))))", :ns "clojure.core.typed.test.core", :name "parse-type-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 86, :test #<core$fn__24520 clojure.core.typed.test.core$fn__24520@2a2ff190>}