{:type :fn, :src "(deftest intersection-csgen-test\n  (is-clj (clj (cs-gen #{} {'a no-bounds} {}\n                   (In (RClass-of Seqable [(RClass-of Number)])\n                       (make-CountRange 1))\n                   (In (RClass-of Seqable [(make-F 'a)])\n                       (make-CountRange 1))))))", :ns "clojure.core.typed.test.core", :name "intersection-csgen-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1600, :test #<core$fn__27941 clojure.core.typed.test.core$fn__27941@2a0eaec4>}