{:type :fn, :src "(deftest record-annotated-as-datatype-test\n  ; record annotated as datatype\n  (is (err/top-level-error-thrown?\n        (check-ns 'clojure.core.typed.test.fail.record-as-datatype)))\n  ; datatype annotated as record\n  (is (err/top-level-error-thrown?\n        (check-ns 'clojure.core.typed.test.fail.datatype-as-record))))", :ns "clojure.core.typed.test.core", :name "record-annotated-as-datatype-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 2187, :test #<core$fn__29569 clojure.core.typed.test.core$fn__29569@287c49a2>}