{:type :var, :src "(defmulti parse-symbol*\n  (fn [n] \n    {:pre [(symbol? n)]}\n    (or (impl/impl-case\n          :clojure (let [r (resolve-type-clj n)]\n                     (when (var? r)\n                       (coerce/var->symbol r)))\n          ;TODO\n          :cljs n)\n        n)))", :ns "clojure.core.typed.parse-ast", :name "parse-symbol*", :file "clojure/core/typed/parse_ast.clj", :column 1, :line 843}