{:type :fn, :src "(defn gen-defaults [{:keys [methods] :as expr}]\n  (apply merge-with (comp vec concat)\n              (for [method methods]\n                (let [fixed-arity (ast-u/fixed-arity method)\n                      variadic? (ast-u/variadic-method? method)]\n                  {:doms [(vec (repeat fixed-arity r/-any))]\n                   :rngs [nil]\n                   :rests [(when variadic?\n                             r/-any)]\n                   :drests [nil]}))))", :ns "clojure.core.typed.check.special.fn", :name "gen-defaults", :file "clojure/core/typed/check/special/fn.clj", :column 1, :line 58, :arglists ([{:keys [methods], :as expr}])}