{:type :fn, :src "(deftest simple-polymorphic-test\n  (is-cljs (t/check-ns* 'cljs.core.typed.test.identity)))", :ns "clojure.core.typed.test.cljs", :name "simple-polymorphic-test", :file "clojure/core/typed/test/cljs.clj", :column 1, :line 113, :test #<cljs$fn__17289 clojure.core.typed.test.cljs$fn__17289@6fbe4c22>}