{:type :fn, :src "(defn HMap->KwArgsSeq [kws nilable-non-empty?]\n  {:pre [(r/HeterogeneousMap? kws)]\n   :post [(r/Type? %)]}\n  (r/-kw-args-seq :mandatory (:types kws)\n                  :optional (:optional kws)\n                  :nilable-non-empty? nilable-non-empty?\n                  :complete? (complete-hmap? kws)))", :ns "clojure.core.typed.type-ctors", :name "HMap->KwArgsSeq", :file "clojure/core/typed/type_ctors.clj", :column 1, :line 2128, :arglists ([kws nilable-non-empty?])}