{:ns "cljs.core.typed", :name "ann-jsnominal", :file "cljs/core/typed.clj", :type :macro, :src "(defmacro ann-jsnominal\n  \"Equivalent of TypeScript interface\"\n  [varsym jsnom]\n  (let [qualsym (if (namespace varsym)\n                    varsym\n                    (symbol (str (ns-name *ns*)) (name varsym)))]\n   `(ann-jsnominal* '~qualsym '~jsnom)))", :column 1, :line 78, :macro true, :arglists ([varsym jsnom]), :doc "Equivalent of TypeScript interface"}