{:ns "clojure.core.typed.test.rps-async", :name "RPSResult", :file "clojure/core/typed/test/rps_async.clj", :type :var, :src "(t/defalias RPSResult\n  \"The result of a rock-paper-scissors match.\n  A 3 place vector of the two player moves, and the winner\"\n  '[PlayerMove PlayerMove PlayerName])", :column 1, :line 23, :declared true, :doc "The result of a rock-paper-scissors match.\n  A 3 place vector of the two player moves, and the winner"}