{:type :fn, :src "(defn add-multimethod-dispatch-type\n  \"Add the type of the dispatch function of the multimethod named by mmsym\n  to the environment. If already exists, must be identical.\"\n  [mmsym dtype]\n  {:pre [(symbol? mmsym)\n         (r/Type? dtype)]}\n  (impl/assert-clojure)\n  (when-let [old (@MULTIMETHOD-DISPATCH-ENV mmsym)]\n    (when-not (= old dtype)\n      (err/int-error \n        (str \"Inconsistent dispatch type inferred for multimethod: \" mmsym\n             \".  JVM process restart probably necessary.\"))))\n  (swap! MULTIMETHOD-DISPATCH-ENV assoc mmsym dtype)\n  nil)", :ns "clojure.core.typed.mm-env", :name "add-multimethod-dispatch-type", :file "clojure/core/typed/mm_env.clj", :column 1, :line 25, :arglists ([mmsym dtype]), :doc "Add the type of the dispatch function of the multimethod named by mmsym\n  to the environment. If already exists, must be identical."}