{:type :fn, :src "(defn get-ctor\n  \"Returns the instantiated constructor type on nominal csym.\"\n  [csym args]\n  {:pre [(symbol? csym)\n         (every? r/Type? args)]\n   :post [((some-fn nil? r/Type?) %)]}\n  (when-let [tscope (get-in impl/jsnominal-env [csym :ctor])]\n    (c/inst-and-subst tscope args)))", :ns "clojure.core.typed.jsnominal-env", :name "get-ctor", :file "clojure/core/typed/jsnominal_env.clj", :column 1, :line 128, :arglists ([csym args]), :doc "Returns the instantiated constructor type on nominal csym."}