{:type :fn, :src "(defn assert-clojure \n  ([] (assert-clojure nil))\n  ([msg] (assert (= clojure *current-impl*) (str \"Clojure implementation only\"\n                                                 (when (seq msg)\n                                                   (str \": \" msg))))))", :ns "clojure.core.typed.current-impl", :name "assert-clojure", :file "clojure/core/typed/current_impl.clj", :column 1, :line 134, :arglists ([] [msg])}