{:type :fn, :src "(deftest not-type-subtype\n  (is-clj (not (subtype? (NotType-maker -nil) -nil)))\n  (is-clj (subtype? (NotType-maker -nil) (NotType-maker -nil)))\n  (is-clj (not (subtype? (NotType-maker -nil) (NotType-maker -false))))\n  (is-clj (subtype? (NotType-maker (Un -false -nil)) (NotType-maker -false))))", :ns "clojure.core.typed.test.difference", :name "not-type-subtype", :file "clojure/core/typed/test/difference.clj", :column 1, :line 13, :test #<difference$fn__38129 clojure.core.typed.test.difference$fn__38129@bb525c7>}