{:type :fn, :src "(deftest equiv-test\n  ; 1 arity :else filter is always bot\n  (is-clj (= (tc-t (= 1))\n         (ret (Un -true -false) (-FS -top -bot) -empty)))\n  (is-clj (= (tc-t (= 1 1))\n         (tc-t (= 1 1 1 1 1 1 1 1 1 1))\n         (ret (Un -true -false) (-FS -top -top) -empty)))\n  (is-clj (= (tc-t (= 'a 'b))\n         (tc-t (= 1 2))\n         (tc-t (= :a :b))\n         (tc-t (= :a 1 'a))\n         (ret (Un -true -false) (-FS -top -top) -empty)))\n  (is-clj (= (tc-t (= :Val (-> {:a :Val} :a)))\n         (ret (Un -true -false) (-FS -top -top) -empty))))", :ns "clojure.core.typed.test.core", :name "equiv-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 278, :test #<core$fn__24887 clojure.core.typed.test.core$fn__24887@573b08f3>}