{:ns "clojure.core.typed.test.protocol-monads", :name "maybe", :file "clojure/core/typed/test/protocol_monads.clj", :type :fn, :src "(defn maybe\n  \"Monad describing computations with possible failures. Failure is\n   represented by nil, any other value is considered valid. As soon as\n   a step returns nil, the whole computation will yield nil as well.\"\n  [v]\n  (maybe-monad. v))", :column 1, :line 257, :arglists ([v]), :doc "Monad describing computations with possible failures. Failure is\n   represented by nil, any other value is considered valid. As soon as\n   a step returns nil, the whole computation will yield nil as well."}