{:type :fn, :src "(defn parse-h* [op msg]\n  (fn [[_ syn]]\n    (let [{:keys [types drest rest]}\n          (parse-with-rest-drest msg syn)]\n      (merge\n        {:op op\n         :types types\n         :children (vec (concat\n                          [:types]\n                          (when drest\n                            [:drest])\n                          (when rest\n                            [:rest])))}\n        (when drest\n          {:drest drest})\n        (when rest\n          {:rest rest})))))", :ns "clojure.core.typed.parse-ast", :name "parse-h*", :file "clojure/core/typed/parse_ast.clj", :column 1, :line 201, :arglists ([op msg])}