{:ns "clojure.core.typed.test.logic.macros", :name "handle-clauses", :file "clojure/core/typed/test/logic/macros.clj", :type :fn, :src "(defn handle-clauses [t as cs]\n  `(~t\n    ~@(doall (map (handle-clause as) cs))))", :column 1, :line 318, :arglists ([t as cs])}