{:type :fn, :src "(deftest atom-ops-test\n  (is-clj (subtype? (ety\n                      (reset!\n                        (ann-form (atom 1) (Atom1 Num))\n                        10.1))\n                    (RClass-of Number))))", :ns "clojure.core.typed.test.core", :name "atom-ops-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 934, :test #<core$fn__26478 clojure.core.typed.test.core$fn__26478@48553027>}