{:ns "clojure.core.typed", :name "NilableNonEmptyASeq", :file "clojure/core/typed.clj", :type :var, :src "(init-aliases)", :column 1, :line 1490, :declared true, :doc "The result of clojure.core/seq.", :forms [(NilableNonEmptyASeq t)]}