{:type :fn, :src "(deftest filter-combine-test\n  (is (check-ns 'clojure.core.typed.test.filter-combine)))", :ns "clojure.core.typed.test.core", :name "filter-combine-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1313, :test #<core$fn__27598 clojure.core.typed.test.core$fn__27598@2bcfe69d>}