{:type :fn, :src "(deftest ccfind-test\n  (is-clj (clj\n        (subtype? (-> (tc-t (clojure.core.typed/fn> [a :- (clojure.lang.IPersistentMap Long String)]\n                                                    (find a 1)))\n                      :t :types first :rng :t)\n                  (Un (-hvec [(RClass-of Long) (RClass-of String)])\n                      -nil)))))", :ns "clojure.core.typed.test.core", :name "ccfind-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 893, :test #<core$fn__26650 clojure.core.typed.test.core$fn__26650@7c0ebb77>}