{:type :fn, :src "(defn deprecated-plain-op [old & [new]]\n  {:pre [(symbol? old)\n         ((some-fn symbol? nil?) new)]}\n  (deprecated-warn (str old \" syntax is deprecated, use \" (var-for-impl (or new old)))))", :ns "clojure.core.typed.errors", :name "deprecated-plain-op", :file "clojure/core/typed/errors.clj", :column 1, :line 180, :arglists ([old & [new]])}