{:type :fn, :src "(deftest array-subtype-test\n  (is-clj (sub? (Array int) (Array int)))\n  (is-clj (sub? (Array int) (ReadOnlyArray int)))\n  (is-clj (sub? (Array Long) (clojure.lang.Seqable Long)))\n  ;FIXME\n  ;(is-clj (not (sub? (Array Object) (clojure.lang.Seqable Long))))\n  (is-clj (not (sub? (ReadOnlyArray int) (Array int)))))", :ns "clojure.core.typed.test.subtype", :name "array-subtype-test", :file "clojure/core/typed/test/subtype.clj", :column 1, :line 104, :test #<subtype$fn__19563 clojure.core.typed.test.subtype$fn__19563@39e9104b>}