{:type :fn, :src "(defn var-annotations []\n  @(current-var-annotations))", :ns "clojure.core.typed.var-env", :name "var-annotations", :file "clojure/core/typed/var_env.clj", :column 1, :line 52, :arglists ([])}