{:type :var, :src "(defonce ^:dynamic *current-datatype-env* nil)", :ns "clojure.core.typed.datatype-env", :name "*current-datatype-env*", :file "clojure/core/typed/datatype_env.clj", :column 1, :dynamic true, :line 22}