{:type :fn, :src "(defn dummy-fn-method-expr [body required-params rest-param env]\n  (let [params (vec (concat required-params (when rest-param [rest-param])))]\n    {:op :fn-method\n     :env env\n     :body body\n     :params params\n     :fixed-arity (count params)\n     :variadic? (boolean rest-param)}))", :ns "clojure.core.typed.ast-utils", :name "dummy-fn-method-expr", :file "clojure/core/typed/ast_utils.clj", :column 1, :line 61, :arglists ([body required-params rest-param env])}