{:type :fn, :src "(u/def-type KwArgs [mandatory optional]\n  \"A set of mandatory and optional keywords\"\n  [(every? (con/hash-c? Value? Type?) [mandatory optional])\n   (= #{} (set/intersection (set (keys mandatory)) \n                            (set (keys optional))))])", :ns "clojure.core.typed.type-rep", :name "KwArgs-maker", :file "clojure/core/typed/type_rep.clj", :column 1, :line 674, :arglists ([mandatory optional & {meta__2330__auto__ :meta, :as opt__2331__auto__}])}