{:type :fn, :src "(deftest path-update-test\n  (is-clj \n    (both-subtype? (clj (update (Un -nil (make-HMap :mandatory {(-val :foo) (RClass-of Number)}))\n                                (-filter (Un -false -nil) 'id [(-kpe :foo)])))\n                   -nil))\n  (is-clj \n    (both-subtype? (update (Un -nil (make-HMap :mandatory {(-val :foo) (RClass-of Number)}))\n                           (-not-filter (Un -false -nil) 'id [(-kpe :foo)]))\n                   (make-HMap :mandatory {(-val :foo) (RClass-of Number)})))\n  ; if (:foo a) is nil, either a has a :foo entry with nil, or no :foo entry\n  (is-clj (both-subtype? (update (make-HMap)\n                                 (-filter -nil 'id [(-kpe :foo)]))\n                         (make-HMap :optional {(-val :foo) -nil}))))", :ns "clojure.core.typed.test.core", :name "path-update-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1424, :test #<core$fn__27630 clojure.core.typed.test.core$fn__27630@108b6ba4>}