{:type :fn, :src "(deftest nthnext-test\n  (is-tc-e\n   (fn [stmt :- '[Any Long]]\n     (let [body (nthnext stmt 1)]\n       (ann-form body (HSeq [Long])))))\n\n  (is-tc-e\n   (ann-form (nthnext nil 1) nil)))", :ns "clojure.core.typed.test.nthnext-test", :name "nthnext-test", :file "clojure/core/typed/test/nthnext_test.clj", :column 1, :line 7, :test #<nthnext_test$fn__8125 clojure.core.typed.test.nthnext_test$fn__8125@2f9320d7>}