{:type :fn, :src "(defn set-c? [c?]\n  (every-pred set?\n              #(every? c? %)))", :ns "clojure.core.typed.contract-utils", :name "set-c?", :file "clojure/core/typed/contract_utils.clj", :column 1, :line 65, :arglists ([c?])}