{:ns "clojure.core.typed", :name "defprotocol>", :file "clojure/core/typed.clj", :type :macro, :src "(defmacro ^{:deprecated \"0.2.45\"} defprotocol>\n  \"DEPRECATED: use clojure.core.typed/defprotocol\n\n  Like defprotocol, but required for type checking\n  its macroexpansion.\n  \n  eg. (defprotocol> MyProtocol\n        (a [this]))\"\n  [& body]\n  (err/deprecated-macro-syntax\n    &form\n    (str \"clojure.core.typed/defprotocol> renamed to clojure.core.typed/defprotocol.\"\n         \" Note the new syntax cannot be used with ann-protocol.\"))\n  `(tc-ignore\n     (core/defprotocol ~@body)))", :column 1, :line 1068, :macro true, :deprecated "0.2.45", :arglists ([& body]), :doc "DEPRECATED: use clojure.core.typed/defprotocol\n\n  Like defprotocol, but required for type checking\n  its macroexpansion.\n  \n  eg. (defprotocol> MyProtocol\n        (a [this]))"}