{:type :fn, :src "(defn parse-CountRange [[_ & [n u :as args]]]\n  (when-not (#{1 2} (count args))\n    (err/int-error \"Wrong arguments to CountRange\"))\n  (when-not (integer? n)\n    (err/int-error \"First argument to CountRange must be an integer\"))\n  (when-not (or (#{1} (count args))\n                (integer? u))\n    (err/int-error \"Second argument to CountRange must be an integer\"))\n  (r/make-CountRange n u))", :ns "clojure.core.typed.parse-unparse", :name "parse-CountRange", :file "clojure/core/typed/parse_unparse.clj", :column 1, :line 188, :arglists ([[_ & [n u :as args]]])}