{:ns "clojure.core.typed.test.protocol-monads", :name "list-t", :file "clojure/core/typed/test/protocol_monads.clj", :type :fn, :src "(defn list-t\n  \"monad transformer that transforms a monad m into a monad in which\n   the base values are lists.\"\n  [m]\n  (fn [v]\n    (list-transformer. m (m (list v)))))", :column 1, :line 519, :arglists ([m]), :doc "monad transformer that transforms a monad m into a monad in which\n   the base values are lists."}