{:type :fn, :src "(deftest or-filter-update-test\n  (is-clj (clj\n        (= (update -any\n                   (-or (-filter (RClass-of clojure.lang.Symbol) 'id)\n                        (-filter (RClass-of String) 'id)))\n           (Un (RClass-of clojure.lang.Symbol)\n               (RClass-of String))))))", :ns "clojure.core.typed.test.core", :name "or-filter-update-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1382, :test #<core$fn__27528 clojure.core.typed.test.core$fn__27528@50cad9e8>}