{:ns "clojure.core.typed.test.CTYP-118-cast", :name "v1", :file "clojure/core/typed/test/CTYP_118_cast.clj", :type :var, :src "(def v1 (cast (t/ann-form Class Class) (class :any)))", :column 1, :line 20}