{:ns "clojure.core.typed.test.logic.macros", :name "all-blank?", :file "clojure/core/typed/test/logic/macros.clj", :type :fn, :src "(defn all-blank? [p]\n  (every? #(= % '_) p))", :column 1, :line 301, :arglists ([p])}