{:type :macro, :src "(defmacro defprotocol [name & args]\n  ;only define record if symbol doesn't resolve, not completely sure if this behaves like defonce\n  (when-not (resolve name)\n    `(clojure.core/defprotocol ~name ~@args)))", :macro true, :ns "clojure.core.typed.def-utils", :name "defprotocol", :file "clojure/core/typed/def_utils.clj", :column 1, :line 10, :arglists ([name & args])}