{:ns "clojure.core.typed", :name "let", :file "clojure/core/typed/macros.clj", :type :macro, :src "(defmacro \n  ^{:forms '[(let [binding :- type?, init*] exprs*)]}\n  let\n  \"Like clojure.core/let but supports optional type annotations.\n\n  eg. (let [a :- Type, b\n            a2 1.2]\n        body)\"\n  [bvec & forms]\n  (core/let [{:keys [let]} (internal/parse-let* (cons bvec forms))]\n    let))", :column 1, :line 122, :macro true, :arglists ([bvec & forms]), :doc "Like clojure.core/let but supports optional type annotations.\n\n  eg. (let [a :- Type, b\n            a2 1.2]\n        body)", :forms [(let [binding :- type? init*] exprs*)]}