{:type :fn, :src "(deftest intersection-maker-test\n  (is-clj (= (In -nil (-val 1))\n         (Un)))\n  (is-clj (clj \n        (= (In (RClass-of Seqable [-any])\n               -nil)\n           (Un)))))", :ns "clojure.core.typed.test.core", :name "intersection-maker-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 865, :test #<core$fn__24360 clojure.core.typed.test.core$fn__24360@56122c1>}