{:type :var, :src "(defonce CLJS-TYPED-DEPS (atom (init-deps) :validator dep-map?))", :ns "clojure.core.typed.ns-deps", :name "CLJS-TYPED-DEPS", :file "clojure/core/typed/ns_deps.clj", :column 1, :line 42}