{:type :var, :src "(defmulti invoke-apply (fn [{[fexpr] :args :keys [op] :as expr} & args]\n                         {:pre [(#{:invoke} op)]\n                          :post [((some-fn nil? symbol?) %)]}\n                         (when (#{:var} (:op fexpr))\n                           (when-let [var (:var fexpr)]\n                             (coerce/var->symbol var)))))", :ns "clojure.core.typed.check", :name "invoke-apply", :file "clojure/core/typed/check.clj", :column 1, :line 239}