{:type :fn, :src "(deftest poly-filter-test\n  (is-clj (both-subtype? \n            (ety (let [a :- (Coll Int), [1]]\n                   (if (seq a)\n                     (first a)\n                     'a)))\n            (parse-type `(U AnyInteger (Value ~'a))))))", :ns "clojure.core.typed.test.core", :name "poly-filter-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1065, :test #<core$fn__26571 clojure.core.typed.test.core$fn__26571@5921ab10>}