{:type :fn, :src "(defn check-ns-info\n  [ns-or-syms & opt]\n  (ucljs/with-cljs-typed-env\n    (comp/with-core-cljs\n      (apply chk-ns/check-ns-info impl/clojurescript ns-or-syms opt))))", :ns "clojure.core.typed.check-ns-cljs", :name "check-ns-info", :file "clojure/core/typed/check_ns_cljs.clj", :column 1, :line 15, :arglists ([ns-or-syms & opt])}