{:clojure.core.typed/special-type true, :ns "clojure.core.typed", :name "Value", :file "clojure/core/typed.clj", :type :var, :src "(def ^{:doc \"A singleton type for a constant value.\"\n       :forms '[(Value Constant)\n                'Constant]\n       ::special-type true}\n  Value)", :column 1, :line 1340, :doc "A singleton type for a constant value.", :forms [(Value Constant) (quote Constant)]}