{:ns "clojure.core.typed.free-ops", :name "with-frees", :file "clojure/core/typed/free_ops.clj", :type :macro, :src "(defmacro with-frees\n  \"Scopes frees, which are instances of F, inside body, with\n  default bounds.\"\n  [frees & body]\n  `(with-free-mappings (into {} (for [f# ~frees]\n                                  [(:name f#) {:F f# :bnds r/no-bounds}]))\n     ~@body))", :column 1, :line 90, :macro true, :arglists ([frees & body]), :doc "Scopes frees, which are instances of F, inside body, with\n  default bounds."}