{:type :fn, :src "(defn parse-RClass [cls-sym params-syn]\n  (impl/assert-clojure)\n  (let [RClass-of @(RClass-of-var)\n        cls (resolve-type-clj cls-sym)\n        _ (when-not (class? cls) (err/int-error (str (pr-str cls-sym) \" cannot be resolved\")))\n        tparams (doall (map parse-type params-syn))]\n    (RClass-of cls tparams)))", :ns "clojure.core.typed.parse-unparse", :name "parse-RClass", :file "clojure/core/typed/parse_unparse.clj", :column 1, :line 784, :arglists ([cls-sym params-syn])}