{:type :fn, :src "(u/def-type Bounds [upper-bound lower-bound higher-kind]\n  \"A type bound or higher-kind bound on a variable\"\n  [(every? (some-fn Type? Scope?) [upper-bound lower-bound])\n   ;deprecated/unused\n   (nil? higher-kind)])", :ns "clojure.core.typed.type-rep", :name "Bounds-maker", :file "clojure/core/typed/type_rep.clj", :column 1, :line 134, :arglists ([upper-bound lower-bound higher-kind & {meta__2330__auto__ :meta, :as opt__2331__auto__}])}