{:type :fn, :src "(defn remove-opposite [and-f atom-f]\n  {:pre [(fr/Filter? and-f)\n         (fr/Filter? atom-f)]\n   :post [(fr/Filter? %)]}\n  (if (fr/AndFilter? and-f)\n    (apply -and (remove #(opposite? % atom-f) (:fs and-f)))\n    and-f))", :ns "clojure.core.typed.filter-ops", :name "remove-opposite", :file "clojure/core/typed/filter_ops.clj", :column 1, :line 224, :arglists ([and-f atom-f])}