{:type :fn, :src "(deftest deftype-poly-ancestor-test\n  (is (check-ns 'clojure.core.typed.test.protocol-scoping)))", :ns "clojure.core.typed.test.core", :name "deftype-poly-ancestor-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 2722, :test #<core$fn__31017 clojure.core.typed.test.core$fn__31017@129f61fd>}