{:type :fn, :src "(deftest instantiate-polydots-test\n  (is (let [sym (gensym)]\n        (= sym\n           (-> (PolyDots-body* [sym] (parse-clj '(clojure.core.typed/All [b ...] ['[b ... b] -> clojure.core.typed/Any])))\n               :types\n               first\n               :dom\n               first\n               :drest\n               :name))))\n  (is (= (-> (parse-clj '(clojure.core.typed/All [b ...] ['[b ... b] -> clojure.core.typed/Any]))\n             :scope\n             :body\n             :types\n             first\n             :dom\n             first\n             :drest\n             :name)\n         0)))", :ns "clojure.core.typed.test.core", :name "instantiate-polydots-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 3242, :test #<core$fn__32385 clojure.core.typed.test.core$fn__32385@23091d41>}