{:type :fn, :src "(deftest poly-record-test\n  (is (check-ns 'clojure.core.typed.test.poly-record)))", :ns "clojure.core.typed.test.core", :name "poly-record-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 2879, :test #<core$fn__29278 clojure.core.typed.test.core$fn__29278@57bfb6c7>}