{:type :fn, :src "(u/def-filter AndFilter [fs]\n  \"Logical conjunction of filters\"\n  [(set? fs)\n   (seq fs)\n   (every? Filter? fs)]\n  :methods\n  [p/IFilter])", :ns "clojure.core.typed.filter-rep", :name "AndFilter-maker", :file "clojure/core/typed/filter_rep.clj", :column 1, :line 94, :arglists ([fs & {meta__2330__auto__ :meta, :as opt__2331__auto__}])}