{:ns "clojure.core.typed.test.tools-analyzer-jvm-ann", :name "NsMap", :file "clojure/core/typed/test/tools_analyzer_jvm_ann.clj", :type :var, :src "(t/defalias NsMap\n  (t/HMap :mandatory\n        {:mappings (t/Map t/Symbol t/Any) ;contradicts docs, which say (Map Symbol Var). What about Classes?\n         :aliases (t/Map t/Symbol t/Symbol)\n         :ns t/Symbol}))", :column 1, :line 5, :declared true}