{:type :fn, :src "(defn var-coverage \n  \"Summarises annotated var coverage statistics to *out*\n  for namespaces nsyms, a collection of symbols or a symbol/namespace.\n  Defaults to the current namespace if no argument provided.\"\n  ([] (var-coverage *ns*))\n  ([nsyms-or-nsym]\n   (load-if-needed)\n   ((impl/v 'clojure.core.typed.statistics/var-coverage) nsyms-or-nsym)))", :ns "clojure.core.typed", :name "var-coverage", :file "clojure/core/typed.clj", :column 1, :line 2251, :doc "Summarises annotated var coverage statistics to *out*\n  for namespaces nsyms, a collection of symbols or a symbol/namespace.\n  Defaults to the current namespace if no argument provided."}