{:type :fn, :src "(defn ns-form-for-file\n  \"Returns the namespace declaration for the file, or\n  nil if not found\"\n  [file]\n  (p/p :ns-deps-utils/ns-form-for-file\n   (ns-file/read-file-ns-decl file)))", :ns "clojure.core.typed.ns-deps-utils", :name "ns-form-for-file", :file "clojure/core/typed/ns_deps_utils.clj", :column 1, :line 14, :arglists ([file]), :doc "Returns the namespace declaration for the file, or\n  nil if not found"}