{:type :fn, :src "(defn clj-primitives-fn []\n  (let [RClass-of @(RClass-of-var)]\n    {'byte (RClass-of 'byte)\n     'short (RClass-of 'short)\n     'int (RClass-of 'int)\n     'long (RClass-of 'long)\n     'float (RClass-of 'float)\n     'double (RClass-of 'double)\n     'boolean (RClass-of 'boolean)\n     'char (RClass-of 'char)\n     'void r/-nil}))", :ns "clojure.core.typed.parse-unparse", :name "clj-primitives-fn", :file "clojure/core/typed/parse_unparse.clj", :column 1, :line 881, :arglists ([])}