{:type :fn, :src "(defn error-ret \n  \"Return a TCResult appropriate for when a type\n  error occurs, with expected type expected.\n  \n  Use *only* in case of a type error.\"\n  [expected]\n  {:pre [((some-fn nil? r/TCResult?) expected)]\n   :post [(r/TCResult? %)]}\n  (or expected\n      (r/ret (r/TCError-maker))))", :ns "clojure.core.typed.check.utils", :name "error-ret", :file "clojure/core/typed/check/utils.clj", :column 1, :line 71, :arglists ([expected]), :doc "Return a TCResult appropriate for when a type\n  error occurs, with expected type expected.\n  \n  Use *only* in case of a type error."}