{:type :fn, :src "(deftest iterable-as-seqable-test\n  (is-cf (first (clojure.core.typed/ann-form [] (Iterable clojure.core.typed/Any)))))", :ns "clojure.core.typed.test.core", :name "iterable-as-seqable-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1724, :test #<core$fn__28003 clojure.core.typed.test.core$fn__28003@4671670a>}