{:type :var, :src "(defprotocol Foo\n  (is-foo [this, a :- Num] :- Num)\n  (is-bar [this, a :- Int] :- Int\n          [this, b :- Num] :- Num)\n  (is-baz [this, a :- Int] :- Int\n          [this, a :- Int, b :- Int] :- Int\n          [this, a :- Int, b :- Int, c :- Int] :- Int))", :doc nil, :ns "clojure.core.typed.test.defprotocol", :name "Foo", :file "clojure/core/typed/test/defprotocol.clj", :column 1, :line 5}