{:type :fn, :src "(deftest mapv-test\n  (testing \"when we know the input sequence has values\"\n    (is-tc-e\n     (fn [coll :- (NonEmptySeqable String)]\n       (let [result (mapv str coll)]\n         (ann-form result (CountRange 1)))))))", :ns "clojure.core.typed.test.mapv-test", :name "mapv-test", :file "clojure/core/typed/test/mapv_test.clj", :column 1, :line 7, :test #<mapv_test$fn__18892 clojure.core.typed.test.mapv_test$fn__18892@381636de>}