{:type :var, :src "(delay-and-cache-env ^:private init-ctor-override-env\n  (reset-alias-env!)\n  (h/ctor-override-mappings\n\nclojure.lang.LazySeq (All [x]\n                          [[-> (Option (Seqable x))] -> (LazySeq x)])\nclojure.lang.Delay (All [x]\n                        [[-> x] -> (clojure.lang.Delay x)])\n    ))", :ns "clojure.core.typed.base-env", :name "thread-bindings-init-ctor-override-env", :file "clojure/core/typed/base_env.clj", :column 1, :line 1790}