{:type :macro, :src "(defmacro add-indirection [i var]\n  `(reset! ~(symbol (str i \"-atom\"))\n           ; saves getting stung by var reloading\n           ; Could just use a var, but we want to work on CLJS\n           (fn [& args#] \n             (apply ~var args#))))", :macro true, :ns "clojure.core.typed.indirect-utils", :name "add-indirection", :file "clojure/core/typed/indirect_utils.clj", :column 1, :line 20, :arglists ([i var])}