{:type :fn, :src "(u/defrecord cset [maps]\n  \"\"\n  [(every? cset-entry? maps)])", :ns "clojure.core.typed.cs-rep", :name "cset?", :file "clojure/core/typed/cs_rep.clj", :column 1, :line 142, :arglists ([r__382__auto__])}