{:ns "clojure.core.typed.test.rps-async", :name "winner", :file "clojure/core/typed/test/rps_async.clj", :type :fn, :src "(defn winner\n  \"Based on two moves, return the name of the winner.\"\n  [[name1 move1] [name2 move2]]\n  (cond\n    (= move1 move2) \"no one\"\n    (= move2 (BEATS move1)) name1\n    :else name2))", :column 1, :line 47, :arglists ([[name1 move1] [name2 move2]]), :doc "Based on two moves, return the name of the winner."}