{:type :macro, :src "(defmacro jsenv-mappings [& args]\n  `(impl/with-cljs-impl\n     (let [ts# (partition 2 '~args)]\n       (into {}\n             (doall\n               (for [[s# t#] ts#]\n                 [s# (prs/parse-type t#)]))))))", :macro true, :ns "clojure.core.typed.base-env-helper-cljs", :name "jsenv-mappings", :file "clojure/core/typed/base_env_helper_cljs.clj", :column 1, :line 167, :arglists ([& args])}