{:ns "clojure.core.typed.async", :name "Chan2", :file "clojure/core/typed/async.clj", :type :var, :src "(defalias \n  ^{:forms '[(Chan2 t t)]}\n  Chan2\n  \"A core.async channel that can take type w and put type r\"\n  (TFn [[w :variance :contravariant]\n        [r :variance :covariant]]\n    (I (Port2 w r)\n       impl/Channel)))", :column 1, :line 89, :declared true, :doc "A core.async channel that can take type w and put type r", :forms [(Chan2 t t)]}