{:type :fn, :src "(defn parse-fn-return-type [parse-fn-type]\n  (let [subst-in (free-ops/with-free-symbols \n                   #{'a} (prs/parse-type '[String -> a]))] \n    (-> (cgen/cs-gen #{} {'a r/no-bounds} {} parse-fn-type subst-in) \n        (cgen/subst-gen #{} subst-in)\n        (get-in ['a :type]))))", :ns "clojure.core.typed.check.cli", :name "parse-fn-return-type", :file "clojure/core/typed/check/cli.clj", :column 1, :line 13, :arglists ([parse-fn-type])}