{:type :fn, :src "(defn deprecated-list [lst]\n  {:post [((some-fn nil? r/Type?) %)]}\n  (impl/impl-case\n    :clojure (deprecated-clj-list lst)\n    :cljs nil))", :ns "clojure.core.typed.parse-unparse", :name "deprecated-list", :file "clojure/core/typed/parse_unparse.clj", :column 1, :line 926, :arglists ([lst])}