{:type :fn, :src "(defn combine-frees [& frees]\n  {:pre [(every? variance-map? frees)]\n   :post [(variance-map? %)]}\n  (into {}\n        (apply merge-with (fn [old-vari new-vari]\n                            (cond \n                              (= old-vari new-vari) old-vari\n                              (= old-vari :dotted) new-vari\n                              (= new-vari :dotted) old-vari\n                              (= old-vari :constant) new-vari\n                              (= new-vari :constant) old-vari\n                              :else :invariant))\n               frees)))", :ns "clojure.core.typed.frees", :name "combine-frees", :file "clojure/core/typed/frees.clj", :column 1, :line 97, :arglists ([& frees])}