{:type :fn, :src "(defn cs-gen-object [V X Y s t]\n  {:pre [((con/set-c? symbol?) V)\n         (every? (con/hash-c? symbol? r/Bounds?) [X Y])\n         (or/RObject? s)\n         (or/RObject? t)]\n   :post [(cr/cset? %)]}\n  (cond\n    (= s t) (cr/empty-cset X Y)\n    (or/EmptyObject? t) (cr/empty-cset X Y)\n    ;;FIXME do something here\n    :else (fail! s t)))", :ns "clojure.core.typed.cs-gen", :name "cs-gen-object", :file "clojure/core/typed/cs_gen.clj", :column 1, :line 901, :arglists ([V X Y s t])}