{:type :fn, :src "(deftest nth-path-elem-test-nth\n  (is-tc-e\n   (do\n     (defalias StatementA '[':params String])\n     (defalias StatementB '[':no-params])\n     (defalias Statement (U StatementA StatementB))\n     (fn [stmt :- Statement] :- Any\n       (if (= :params (nth stmt 0))\n         (let [param (nth stmt 1)]\n           (ann-form param String)))))))", :ns "clojure.core.typed.test.nth-path-elem-test", :name "nth-path-elem-test-nth", :file "clojure/core/typed/test/nth_path_elem_test.clj", :column 1, :line 41, :test #<nth_path_elem_test$fn__21300 clojure.core.typed.test.nth_path_elem_test$fn__21300@78360164>}