{:type :fn, :src "(deftest CTYP-196-frees\n  (is-tc-e (let [a first]\n             a)))", :ns "clojure.core.typed.test.core", :name "CTYP-196-frees", :file "clojure/core/typed/test/core.clj", :column 1, :line 4575, :test #<core$fn__37774 clojure.core.typed.test.core$fn__37774@3d8d093>}