{:type :fn, :src "(deftest fail-on-reflection-test\n  (is (caught-top-level-errors (constantly true)\n        (check-ns 'clojure.core.typed.test.fail.reflection))))", :ns "clojure.core.typed.test.core", :name "fail-on-reflection-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 3122, :test #<core$fn__32084 clojure.core.typed.test.core$fn__32084@3b912bdf>}