{:type :fn, :src "(u/def-type DissocType [target keys dkeys]\n  \"A dissoc[iate] operation on the type level\"\n  [(Type? target)\n   (or (DottedPretype? dkeys)\n       (nil? dkeys))\n   (and (every? Type? keys)\n        (sequential? keys))\n   (not (and keys dkeys))]\n  :methods\n  [p/TCType])", :ns "clojure.core.typed.type-rep", :name "DissocType-maker", :file "clojure/core/typed/type_rep.clj", :column 1, :line 633, :arglists ([target keys dkeys & {meta__2330__auto__ :meta, :as opt__2331__auto__}])}