{:type :fn, :src "(defn inverse-atom [a]\n  {:pre [((some-fn fr/TypeFilter? fr/NotTypeFilter?) a)]\n   :post [((some-fn fr/TypeFilter? fr/NotTypeFilter?) a)]}\n  (cond\n    (fr/TypeFilter? a) (-not-filter (:type a) (:id a) (:path a))\n    (fr/NotTypeFilter? a) (-filter (:type a) (:id a) (:path a))))", :ns "clojure.core.typed.filter-ops", :name "inverse-atom", :file "clojure/core/typed/filter_ops.clj", :column 1, :line 146, :arglists ([a])}