{:ns "clojure.core.typed.test.kw-args", :name "empty-kw", :file "clojure/core/typed/test/kw_args.clj", :type :fn, :src "(defn empty-kw [& {:as opts}]\n  nil)", :column 1, :line 5, :arglists ([& {:as opts}])}