{:type :fn, :src "(deftest poly-record-test\n  (is (check-ns 'clojure.core.typed.test.poly-record)))", :ns "clojure.core.typed.test.core", :name "poly-record-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 3011, :test #<core$fn__31643 clojure.core.typed.test.core$fn__31643@573b08f3>}