{:type :fn, :src "(deftest tc-constructor-test\n  (is-clj (= (tc-t (Exception. \"a\"))\n         (ret (RClass-of Exception)\n              (-FS -top -bot)\n              (EmptyObject-maker)))))", :ns "clojure.core.typed.test.core", :name "tc-constructor-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 835, :test #<core$fn__24208 clojure.core.typed.test.core$fn__24208@50cd6946>}