{:type :fn, :src "(deftest value-supertype-test\n  (is-tc-e 'a Symbol)\n  (is-tc-e :a Keyword)\n  (is-tc-e 1 int)\n  (is-tc-e 1.1 number)\n  (is-tc-e 1 number)\n  (is-tc-e true boolean)\n  (is-tc-e \"a\" string))", :ns "clojure.core.typed.test.cljs", :name "value-supertype-test", :file "clojure/core/typed/test/cljs.clj", :column 1, :line 115, :test #<cljs$fn__17747 clojure.core.typed.test.cljs$fn__17747@65305903>}