{:ns "clojure.core.typed.test.util-aliases", :name "MapStruct1", :file "clojure/core/typed/test/util_aliases.clj", :type :var, :src "(t/defalias MapStruct1 (t/HMap :mandatory {:type (t/Value :MapStruct1) \n                                           :a MyName}))", :column 1, :line 6, :declared true}