{:type :fn, :src "(deftest HMap-parse-fail-test\n  (is (err/tc-error-thrown? (clj (parse-type `(HMap :mandatory {:a Any} :absent-keys #{:a}))))))", :ns "clojure.core.typed.test.core", :name "HMap-parse-fail-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1743, :test #<core$fn__27988 clojure.core.typed.test.core$fn__27988@3457af80>}