{:type :fn, :src "(defn noisy-hole\n  \"A noisy hole. The type system will complain when\n  (noisy-hole) is used in positions that expect a type\n  more specific than Object or Any.\n  Use (noisy-hole) as a placeholder for code.\n  Throws an exception when evaluted.\"\n  [] \n  (throw (Exception. \"noisy hole\")))", :ns "clojure.core.typed.hole", :name "noisy-hole", :file "clojure/core/typed/hole.clj", :column 1, :line 20, :arglists ([]), :doc "A noisy hole. The type system will complain when\n  (noisy-hole) is used in positions that expect a type\n  more specific than Object or Any.\n  Use (noisy-hole) as a placeholder for code.\n  Throws an exception when evaluted."}