{:type :fn, :src "(deftest equiv-filters-test\n  (is-tc-e (do (ann a? (Pred ':a))\n               (defn a? [x]\n                 (= :a x))))\n  (is-tc-err (do (ann a? (Pred ':b))\n                 (defn a? [x]\n                   (= :a x)))))", :ns "clojure.core.typed.test.core", :name "equiv-filters-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1205, :test #<core$fn__27003 clojure.core.typed.test.core$fn__27003@153f698>}