{:type :fn, :src "(defn add-var-type [sym type]\n  (when-let [old-t (@(current-var-annotations) sym)]\n    (when (not= old-t type)\n      (println \"WARNING: Duplicate var annotation: \" sym)\n      (flush)))\n  (swap! (current-var-annotations) assoc sym type)\n  nil)", :ns "clojure.core.typed.var-env", :name "add-var-type", :file "clojure/core/typed/var_env.clj", :column 1, :line 64, :arglists ([sym type])}