{:type :fn, :src "(defn print-env \n  \"During type checking, print the type environment to *out*,\n  preceeded by literal string debug-str.\"\n  [debug-str]\n  nil)", :ns "clojure.core.typed", :name "print-env", :file "clojure/core/typed.clj", :column 1, :line 1685, :doc "During type checking, print the type environment to *out*,\n  preceeded by literal string debug-str."}