{:type :fn, :src "(deftest fv-test\n  (is-clj (= (fv (make-F 'x))\n         '#{x})))", :ns "clojure.core.typed.test.core", :name "fv-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 785, :test #<core$fn__26070 clojure.core.typed.test.core$fn__26070@23588673>}