{:type :fn, :src "(defn remove-scopes \n  \"Unwrap n Scopes\"\n  [n sc]\n  {:pre [(con/znat? n)\n         (or (zero? n)\n             (r/Scope? sc))]\n   :post [(or (r/Scope? %) (r/Type? %))]}\n  (last\n    (take (inc n) (iterate (t/fn [t :- Scope]\n                             (assert (r/Scope? t) \"Tried to remove too many Scopes\")\n                             (:body t))\n                           sc))))", :ns "clojure.core.typed.type-ctors", :name "remove-scopes", :file "clojure/core/typed/type_ctors.clj", :column 1, :line 1738, :arglists ([n sc]), :doc "Unwrap n Scopes"}