{:type :fn, :src "(deftest cast-test\n  (is (check-ns 'clojure.core.typed.test.CTYP-118-cast))\n  (is-tc-err (fn [] (cast \"a\" \"a\")))\n  (is-tc-err (fn [] (cast String \"a\" 1)))\n  (is-tc-err (fn [] (cast #('ok) 2))))", :ns "clojure.core.typed.test.core", :name "cast-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 3068, :test #<core$fn__31567 clojure.core.typed.test.core$fn__31567@489af7fc>}