{:type :fn, :src "(defn parse-clj-ann-map\n  [ann-map]\n  (into {}\n        (map (fn [[sym ann]]\n               [sym (prs/parse-type ann)])\n             ann-map)))", :ns "clojure.core.typed.base-env-common", :name "parse-clj-ann-map", :file "clojure/core/typed/base_env_common.clj", :column 1, :line 40, :arglists ([ann-map])}