{:ns "clojure.core.typed.test.rps-async", :name "rand-player", :file "clojure/core/typed/test/rps_async.clj", :type :fn, :src "(defn rand-player\n  \"Create a named player and return a channel to report moves.\"\n  [name]\n  (let [out (ta/chan :- PlayerMove)]\n    (ta/go (while true (a/>! out [name (rand-nth MOVES)])))\n    out))", :column 1, :line 39, :arglists ([name]), :doc "Create a named player and return a channel to report moves."}