{:type :fn, :src "(u/def-type RClass [variances poly? the-class]\n  \"A restricted class, where ancestors are\n  (replace replacements (ancestors the-class))\"\n  [(or (nil? variances)\n       (and (seq variances)\n            (sequential? variances)\n            (every? variance? variances)))\n   (or (nil? poly?)\n       (and (seq poly?)\n            (sequential? poly?)\n            (every? Type? poly?)))\n   (symbol? the-class)]\n  :intern\n  [variances\n   (map hash poly?)\n   (keyword the-class)]\n  :methods\n  [p/TCType])", :ns "clojure.core.typed.type-rep", :name "RClass-maker", :file "clojure/core/typed/type_rep.clj", :column 1, :line 213, :arglists ([variances poly? the-class & {meta__2330__auto__ :meta, :as opt__2331__auto__}])}