{:type :fn, :src "(deftest array-reflection-test\n  (is-tc-e (fn make-process [script]\n             {:post [%]}\n             (let [^Runtime r (Runtime/getRuntime)\n                   _ (assert r)\n                   ^\"[Ljava.lang.String;\" arr (into-array> String [\"echo 'hello'\"])]\n               (.exec r arr)))\n           [String -> java.lang.Process]))", :ns "clojure.core.typed.test.core", :name "array-reflection-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 2451, :test #<core$fn__30187 clojure.core.typed.test.core$fn__30187@46c101bf>}