{:type :fn, :src "(deftest latent-filter-subtype-test \n  (is-clj (not (sub?-q `(t/IFn [t/Any ~'-> t/Any :filters {:then (~'is Number 0)}])\n                       `(t/IFn [t/Any ~'-> t/Any :filters {:then (~'is t/Nothing 0)}])))))", :ns "clojure.core.typed.test.subtype", :name "latent-filter-subtype-test", :file "clojure/core/typed/test/subtype.clj", :column 1, :line 120, :test #<subtype$fn__19858 clojure.core.typed.test.subtype$fn__19858@4c9e35da>}