{:type :fn, :src "(defn tc-error\n  [estr]\n  (let [env *current-env*]\n    (throw (ex-info (str \"Type Error \"\n                         \"(\" (:file env) \":\" (or (:line env) \"<NO LINE>\")\n                         (when-let [col (:column env)]\n                           (str \":\" col))\n                         \") \"\n                         estr)\n                    (merge\n                      {:type-error tc-error-parent}\n                      {:env (env-for-error env)})))))", :ns "clojure.core.typed.errors", :name "tc-error", :file "clojure/core/typed/errors.clj", :column 1, :line 104, :arglists ([estr])}