{:type :fn, :src "(deftest promote-demote-test\n  (is-clj (= (promote-var (make-F 'x) '#{x})\n         -any))\n  (is-clj (= (demote-var (make-F 'x) '#{x})\n         (Bottom)))\n  (is-clj (= (promote-var (RClass-of clojure.lang.ISeq [(make-F 'x)]) '#{x})\n         (RClass-of clojure.lang.ISeq [-any])))\n  (is-clj (= (demote-var (RClass-of clojure.lang.ISeq [(make-F 'x)]) '#{x})\n             (RClass-of clojure.lang.ISeq [(Bottom)]))))", :ns "clojure.core.typed.test.core", :name "promote-demote-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 846, :test #<core$fn__26127 clojure.core.typed.test.core$fn__26127@39f48c45>}