{:type :fn, :src "(defn cs-gen-TApp\n  [V X Y S T]\n  {:pre [(r/TApp? S)\n         (r/TApp? T)]}\n  (when-not (= (:rator S) (:rator T)) \n    (fail! S T))\n  (cset-meet*\n    (mapv (t/fn [s1 :- r/Type \n                 t1 :- r/Type]\n            (cs-gen V X Y s1 t1))\n          (:rands S) (:rands T))))", :ns "clojure.core.typed.cs-gen", :name "cs-gen-TApp", :file "clojure/core/typed/cs_gen.clj", :column 1, :line 916, :arglists ([V X Y S T])}