{:type :fn, :src "(defn subtype-CountRange\n  [{supper :upper slower :lower :as s}\n   {tupper :upper tlower :lower :as t}]\n  (if (and (<= tlower slower)\n           (if tupper\n             (and supper (<= supper tupper))\n             true))\n    *sub-current-seen*\n    (fail! s t)))", :ns "clojure.core.typed.subtype", :name "subtype-CountRange", :file "clojure/core/typed/subtype.clj", :column 1, :line 1441, :arglists ([{supper :upper, slower :lower, :as s} {tupper :upper, tlower :lower, :as t}])}