{:type :fn, :src "(deftest for-test\n  (is-tc-e (for [a :- Num [1 2 3]]\n             (inc a))\n           (Seq Any))\n  (is-tc-e (for [a :- Num [1 2 3]] :- Num\n             (inc a))\n           (Seq Num))\n  (is-tc-err (for [a [1 2 3]]\n               (inc a))))", :ns "clojure.core.typed.test.core", :name "for-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 3177, :test #<core$fn__30077 clojure.core.typed.test.core$fn__30077@6a5b9eb3>}