{:type :fn, :src "(deftest Any-test\n  (is-tc-e (ann-form {:a 1} Any))\n  ;old syntax\n  (is-cf (clojure.core.typed/ann-form {:a 1} Any))\n  ; new syntax\n  (is-tc-e (ann-form {:a 1} t/Any)))", :ns "clojure.core.typed.test.namespaced-specials", :name "Any-test", :file "clojure/core/typed/test/namespaced_specials.clj", :column 1, :line 46, :test #<namespaced_specials$fn__18814 clojure.core.typed.test.namespaced_specials$fn__18814@67d2f7a1>}