{:type :fn, :src "(defn parse-Pred [[f & args :as syn]]\n  (let [_ (when-not (#{1} (count args))\n            (err/int-error (str \"Wrong arguments to \" f)))\n        [t] args]\n    {:op :predicate\n     :type (parse t)\n     :children [:type]}))", :ns "clojure.core.typed.parse-ast", :name "parse-Pred", :file "clojure/core/typed/parse_ast.clj", :column 1, :line 555, :arglists ([[f & args :as syn]])}