{:ns "clojure.core.typed.test.tools-analyzer-jvm-ann", :name "Env", :file "clojure/core/typed/test/tools_analyzer_jvm_ann.clj", :type :var, :src "(t/defalias Env\n  (t/HMap :mandatory\n        {:locals (t/Map t/Symbol t/Any #_Expr)\n         :context (t/U ':return\n                     ':statement\n                     ':expr)\n         :ns t/Symbol\n         ;:namespaces (t/Atom1 (t/Map t/Symbol NsMap))\n         }\n        :optional\n        {\n        ; ---- start t.a.j specific -----\n        ; added in :deftype\n        ; not sure what :this is\n         :this t/Any\n        ; ---- end t.a.j specific -----\n         }\n        ))", :column 1, :line 11, :declared true}