{:type :fn, :src "(defn parse-Assoc [[_ tsyn & entries :as all]]\n  (when-not (and (<= 1 (count (next all)))\n                 (even? (count entries)))\n    (err/int-error (str \"Wrong arguments to Assoc: \" all)))\n  (r/AssocType-maker (parse-type tsyn)\n                     (doall (->> entries \n                                 (map parse-type)\n                                 (partition 2)\n                                 (map vec)))\n                     nil))", :ns "clojure.core.typed.parse-unparse", :name "parse-Assoc", :file "clojure/core/typed/parse_unparse.clj", :column 1, :line 261, :arglists ([[_ tsyn & entries :as all]])}