{:type :fn, :src "(deftest atom>-test\n  (is-tc-e (atom> (Vec Any) [])\n           (Atom1 (Vec Any))))", :ns "clojure.core.typed.test.core", :name "atom>-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1803, :test #<core$fn__28191 clojure.core.typed.test.core$fn__28191@6fd67a9f>}