{:ns "clojure.core.typed.test.hsequential", :name "first-number", :file "clojure/core/typed/test/hsequential.clj", :type :fn, :src "(defn first-number [l] (first l))", :column 1, :line 7, :arglists ([l])}