{:type :fn, :src "(defn ^:skip-wiki\n  pfn>-ann \n  \"Internal use only. Use pfn>.\"\n  [fn-of polys param-types-syn]\n  fn-of)", :ns "clojure.core.typed", :name "pfn>-ann", :file "clojure/core/typed.clj", :skip-wiki true, :column 1, :line 135, :doc "Internal use only. Use pfn>."}