{:type :fn, :src "(defn Field->Type [{:keys [type flags] :as field}]\n  {:pre [(instance? clojure.reflect.Field field)\n         flags]\n   :post [(r/Type? %)]}\n  (cond\n    (:enum flags) (Java-symbol->Type type false)\n    :else (Java-symbol->Type type true)))", :ns "clojure.core.typed.check.utils", :name "Field->Type", :file "clojure/core/typed/check/utils.clj", :column 1, :line 180, :arglists ([{:keys [type flags], :as field}])}