{:type :fn, :src "(deftest get-APersistentMap-test\n  (is-tc-e (get (ann-form {} (clojure.lang.APersistentMap Num Num)) :a)\n           (U nil Num)))", :ns "clojure.core.typed.test.core", :name "get-APersistentMap-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1276, :test #<core$fn__27077 clojure.core.typed.test.core$fn__27077@5ef4b9e0>}