{:type :fn, :src "(defn RClass-replacements*\n  \"Return the replacements map for the RClass\"\n  [rcls]\n  {:pre [(r/RClass? rcls)]\n   :post [((con/hash-c? symbol? r/Type?) %)]}\n  ((impl/v 'clojure.core.typed.rclass-ancestor-env/rclass-replacements)\n   rcls))", :ns "clojure.core.typed.type-ctors", :name "RClass-replacements*", :file "clojure/core/typed/type_ctors.clj", :column 1, :line 940, :arglists ([rcls]), :doc "Return the replacements map for the RClass"}