{:ns "clojure.core.typed.test.logic.macros", :name "bind-conde-clauses", :file "clojure/core/typed/test/logic/macros.clj", :type :fn, :src "(defn bind-conde-clauses [a clauses]\n  (map (bind-conde-clause a) clauses))", :column 1, :line 17, :arglists ([a clauses])}