{:type :var, :src "(def clj-primitives\n  {'byte     {:op :clj-prim :name 'byte}\n   'short    {:op :clj-prim :name 'short}\n   'int      {:op :clj-prim :name 'int}\n   'long     {:op :clj-prim :name 'long}\n   'float    {:op :clj-prim :name 'float}\n   'double   {:op :clj-prim :name 'double}\n   'boolean  {:op :clj-prim :name 'boolean}\n   'char     {:op :clj-prim :name 'char}\n   'void     {:op :singleton :val nil}})", :ns "clojure.core.typed.parse-ast", :name "clj-primitives", :file "clojure/core/typed/parse_ast.clj", :column 1, :line 280}