{:type :fn, :src "(deftest rclass-invariant-test\n  (is-clj\n    (subtype? \n      (RClass-of 'clojure.lang.ChunkBuffer\n                 [(RClass-of 'java.lang.Number)])\n      (RClass-of 'clojure.lang.ChunkBuffer\n                 [(Name-maker 'java.lang.Number)]))))", :ns "clojure.core.typed.test.core", :name "rclass-invariant-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 2530, :test #<core$fn__28410 clojure.core.typed.test.core$fn__28410@2f568a26>}