{:type :fn, :src "(u/def-type ArrayCLJS [input-type output-type]\n  \"Primitive array in CLJS\"\n  [(Type? input-type)\n   (Type? output-type)]\n  :methods\n  [p/TCType])", :ns "clojure.core.typed.type-rep", :name "ArrayCLJS-maker", :file "clojure/core/typed/type_rep.clj", :column 1, :line 1084, :arglists ([input-type output-type & {meta__2330__auto__ :meta, :as opt__2331__auto__}])}