{:type :fn, :src "(u/defrecord t-subst [type bnds]\n  \"\"\n  [(r/Type? type)\n   (r/Bounds? bnds)])", :ns "clojure.core.typed.cs-rep", :name "map->t-subst", :file "clojure/core/typed/cs_rep.clj", :column 1, :line 15, :arglists ([{:as m__383__auto__, :keys [type bnds]}]), :doc ""}