{:type :fn, :src "(deftest last-test\n  (testing \"when we know there is at least one value\"\n    (is-tc-e\n     (fn [coll :- (NonEmptySeqable Long)]\n       (let [value (last coll)]\n         (ann-form value Long))))))", :ns "clojure.core.typed.test.last-test", :name "last-test", :file "clojure/core/typed/test/last_test.clj", :column 1, :line 7, :test #<last_test$fn__20825 clojure.core.typed.test.last_test$fn__20825@3e84a226>}