{:type :fn, :src "(u/def-object KeysPE []\n  \"Calling clojure.core/keys\"\n  [])", :ns "clojure.core.typed.path-rep", :name "KeysPE?", :file "clojure/core/typed/path_rep.clj", :column 1, :line 55, :arglists ([a__2329__auto__])}