{:type :fn, :src "(deftest deref-var-test\n  (is-tc-e @#'+ \n           [Number -> Number]))", :ns "clojure.core.typed.test.core", :name "deref-var-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 3335, :test #<core$fn__32587 clojure.core.typed.test.core$fn__32587@20b7d0c3>}