{:type :fn, :src "(defn check-tc-ignore [check expr expected]\n  (binding [vs/*current-expr* expr]\n    (assoc expr\n           ::t/tc-ignore true\n           u/expr-type (below/maybe-check-below\n                         (r/ret r/-any)\n                         expected))))", :ns "clojure.core.typed.check.special.tc-ignore", :name "check-tc-ignore", :file "clojure/core/typed/check/special/tc_ignore.clj", :column 1, :line 8, :arglists ([check expr expected])}