{:ns "clojure.core.typed.test.test-utils", :name "is-tc-e", :file "clojure/core/typed/test/test_utils.clj", :type :macro, :src "(defmacro is-tc-e [& body]\n  `(test/is (do (tc-e ~@body)\n                true)))", :column 1, :line 88, :macro true, :arglists ([& body])}