{:type :fn, :src "(deftest subtype-test\n  (is-clj (sub? Integer Integer))\n  (is-clj (sub? Integer Object))\n  (is-clj (not (sub? Object Integer)))\n  (is-clj (sub? Object Object))\n  (is-clj (sub? Integer Number))\n  (is-clj (sub? (clojure.lang.Seqable Integer)\n                (clojure.lang.Seqable Integer)))\n  (is-clj (sub? (clojure.lang.Seqable Integer)\n                (clojure.lang.Seqable Number)))\n  (is-clj (not\n            (sub? (clojure.lang.Seqable Number)\n                  (clojure.lang.Seqable Integer))))\n  (is-clj (sub? (clojure.lang.Cons Integer)\n                (clojure.lang.Cons Number)))\n  (is-clj (sub? (clojure.lang.Cons Integer)\n                (clojure.lang.Seqable Number))))", :ns "clojure.core.typed.test.subtype", :name "subtype-test", :file "clojure/core/typed/test/subtype.clj", :column 1, :line 11, :test #<subtype$fn__19481 clojure.core.typed.test.subtype$fn__19481@54fdcd95>}