{:type :fn, :src "(defn Method->symbol [{name-sym :name :keys [declaring-class] :as method}]\n  {:pre [(instance? clojure.reflect.Method method)]\n   :post [((every-pred namespace symbol?) %)]}\n  (symbol (name declaring-class) (name name-sym)))", :ns "clojure.core.typed.check.utils", :name "Method->symbol", :file "clojure/core/typed/check/utils.clj", :column 1, :line 352, :arglists ([{name-sym :name, :keys [declaring-class], :as method}])}