{:type :fn, :src "(defn cs-gen-flow-set [V X Y s t]\n  {:pre [((con/set-c? symbol?) V)\n         (every? (con/hash-c? symbol? r/Bounds?) [X Y])\n         (r/FlowSet? s)\n         (r/FlowSet? t)]\n   :post [(cr/cset? %)]}\n  (cond\n    (= s t) (cr/empty-cset X Y)\n    :else\n    (let [{n1 :normal} s\n          {n2 :normal} t]\n      (cs-gen-filter V X Y n1 n2))))", :ns "clojure.core.typed.cs-gen", :name "cs-gen-flow-set", :file "clojure/core/typed/cs_gen.clj", :column 1, :line 869, :arglists ([V X Y s t])}