{:type :fn, :src "(defn get-datatype \n  \"Get the datatype with class symbol sym.\n  Returns nil if not found.\"\n  [sym]\n  (assert-datatype-env)\n  (t/when-let-fail [env *current-datatype-env*]\n    (@env sym)))", :ns "clojure.core.typed.datatype-env", :name "get-datatype", :file "clojure/core/typed/datatype_env.clj", :column 1, :line 50, :arglists ([sym]), :doc "Get the datatype with class symbol sym.\n  Returns nil if not found."}