{:ns "clojure.core.typed.test.logic.macros", :name "ex*", :file "clojure/core/typed/test/logic/macros.clj", :type :fn, :src "(defn ex* [[[p a :as pa] & par] exprs seen]\n  (let [t (p->term p)\n        vs (extract-vars p seen)\n        seen (reduce conj seen vs)]\n    (cond\n     (nil? pa) exprs\n     (= p '_) (ex* par exprs seen)\n     (empty? par) (if exprs\n                    (ex vs t a exprs)\n                    (ex vs t a))\n     :else (let [r (ex* par exprs seen)]\n             (if r\n               (ex vs t a r)\n               (ex vs t a))))))", :column 1, :line 286, :arglists ([[[p a :as pa] & par] exprs seen])}