{:type :fn, :src "(defn datatype-method-expected [datatype method-sig]\n  {:post [(r/Type? %)]}\n  (or (protocol-implementation-type datatype method-sig)\n      (extend-method-expected datatype (instance-method->Function method-sig))))", :ns "clojure.core.typed.check.utils", :name "datatype-method-expected", :file "clojure/core/typed/check/utils.clj", :column 1, :line 271, :arglists ([datatype method-sig])}