{:type :fn, :src "(deftest parse-HMap-bad-args-test\n  (is-clj (throws-tc-error?\n            (parse-type `(HMap :foo))))\n  (is-clj (throws-tc-error?\n            (parse-type `(HMap :foo :foo))))\n  (is-clj (throws-tc-error?\n            (parse-type `(HMap :mandatory {} :mandatory {}))))\n  (is-clj (throws-tc-error?\n            (parse-type `(HMap ~'mandatory {})))))", :ns "clojure.core.typed.test.core", :name "parse-HMap-bad-args-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 2542, :test #<core$fn__30493 clojure.core.typed.test.core$fn__30493@60241b2>}