{:type :fn, :src "(deftest names-expansion-test\n  (is (do\n        (tc-e (defalias clojure.core.typed.test.core/MyAlias\n                (U nil (HMap :mandatory {:a Number}))))\n        (clj\n          (subtype? (Name-maker 'clojure.core.typed.test.core/MyAlias)\n                    -any)))))", :ns "clojure.core.typed.test.core", :name "names-expansion-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 901, :test #<core$fn__26397 clojure.core.typed.test.core$fn__26397@4bb4d26>}