{:type :fn, :src "(t/tc-ignore\n(defrecord Foo [b c])\n  )", :ns "clojure.core.typed.test.record-poly-map-ctor", :name "map->Foo", :file "clojure/core/typed/test/record_poly_map_ctor.clj", :column 1, :line 9, :arglists ([m__6206__auto__]), :doc "Factory function for class clojure.core.typed.test.record_poly_map_ctor.Foo, taking a map of keywords to field values."}