{:ns "clojure.core.typed.test.get-bounded-tvar", :name "f1", :file "clojure/core/typed/test/get_bounded_tvar.clj", :type :fn, :src "(defn f1 [h]\n  (reset! (:a h) false)\n  h)", :column 1, :line 17, :arglists ([h])}