{:ns "clojure.core.typed.test.protocol-monads", :name "fmap", :file "clojure/core/typed/test/protocol_monads.clj", :type :fn, :src "(defn fmap\n  \"Bind the monadic value mv to the function f. Returning (f x) for argument x\"\n  [f mv]\n  (bind mv (fn [x] (do-result mv (f x)))))", :column 1, :line 87, :arglists ([f mv]), :doc "Bind the monadic value mv to the function f. Returning (f x) for argument x"}