{:type :fn, :src "(deftest set-pred-test\n  (is-tc-e (let [foo :- (U false nil ':a ':b), :a]\n             (if (#{:a :b false nil} foo)\n               (ann-form foo (U ':a ':b))\n               (ann-form foo (U false nil)))))\n  (is-tc-e (let [foo :- (U false nil ':a ':b), :a]\n             (when (#{:a :b nil} foo)\n               (ann-form foo (U ':a ':b)))))\n  (is-tc-e (let [foo :- (U nil ':a ':b), :a]\n             (when (#{:a :b nil} foo)\n               (ann-form foo (U ':a ':b))))))", :ns "clojure.core.typed.test.set-test", :name "set-pred-test", :file "clojure/core/typed/test/set_test.clj", :column 1, :line 21, :test #<set_test$fn__18210 clojure.core.typed.test.set_test$fn__18210@27ae66ff>}