{:type :fn, :src "(u/def-type Poly [nbound bbnds scope]\n  \"A polymorphic type containing n bound variables\"\n  [(con/znat? nbound)\n   (every? Bounds? bbnds)\n   (apply = nbound (map count [bbnds]))\n   (scope-depth? scope nbound)\n   (Scope? scope)]\n  :methods\n  [p/TCType])", :ns "clojure.core.typed.type-rep", :name "Poly?", :file "clojure/core/typed/type_rep.clj", :column 1, :line 325, :arglists ([a__2329__auto__])}