{:type :fn, :src "(defn Class-symbol-intern [clsym ns]\n  {:pre [(con/namespace? ns)]\n   :post [((some-fn nil? symbol?) %)]}\n  (some (fn [[isym cls]]\n          (when (= (str clsym) (str (coerce/Class->symbol cls)))\n            isym))\n        (ns-imports ns)))", :ns "clojure.core.typed.parse-unparse", :name "Class-symbol-intern", :file "clojure/core/typed/parse_unparse.clj", :column 1, :line 1197, :arglists ([clsym ns])}