{:type :fn, :src "(defn cset-meet* [args]\n  {:pre [(every? cr/cset? args)]\n   :post [(cr/cset? %)]}\n  (u/p :cs-gen/cset-meet*\n  (reduce cset-meet\n          (cr/->cset [(cr/->cset-entry {} (cr/->dmap {}))])\n          args)))", :ns "clojure.core.typed.cs-gen", :name "cset-meet*", :file "clojure/core/typed/cs_gen.clj", :column 1, :line 122, :arglists ([args])}