{:type :fn, :src "(deftest construct-hset\n  (is-tc-e #{1 2 3}\n           :expected\n           (HSet #{1 2 3}))\n  (is-tc-e #{1 nil}\n           :expected\n           (HSet #{nil 1})))", :ns "clojure.core.typed.test.set-test", :name "construct-hset", :file "clojure/core/typed/test/set_test.clj", :column 1, :line 5, :test #<set_test$fn__16211 clojure.core.typed.test.set_test$fn__16211@51c316cb>}