{:type :fn, :src "(defn flatten-props [ps]\n  {:post [(every? fl/Filter? %)]}\n  (loop [acc #{}\n         ps ps]\n    (cond\n      (empty? ps) acc\n      (fl/AndFilter? (first ps)) (recur acc (concat (-> ps first :fs) (next ps)))\n      :else (recur (conj acc (first ps)) (next ps)))))", :ns "clojure.core.typed.update", :name "flatten-props", :file "clojure/core/typed/update.clj", :column 1, :line 46, :arglists ([ps])}