{:clojure.core.typed/special-type true, :ns "clojure.core.typed", :name "HSet", :file "clojure/core/typed.clj", :type :var, :src "(def ^{:doc \"HSet is a type for heterogeneous sets.\n            Takes a set of simple values. By default\n            :complete? is true.\n            \n            eg. (HSet #{:a :b :c} :complete? true)\"\n       :forms '[(HSet #{fixed*} :complete? Boolean)]\n       ::special-type true}\n  HSet)", :column 1, :line 1403, :doc "HSet is a type for heterogeneous sets.\n            Takes a set of simple values. By default\n            :complete? is true.\n            \n            eg. (HSet #{:a :b :c} :complete? true)", :forms [(HSet #{fixed*} :complete? Boolean)]}