{:type :fn, :src "(deftest typed-deps-fail-gracefully-test\n  (is-tc-err (clojure.core.typed/typed-deps no.exist.fail)))", :ns "clojure.core.typed.test.core", :name "typed-deps-fail-gracefully-test", :file "clojure/core/typed/test/core.clj", :column 1, :line 1761, :test #<core$fn__28191 clojure.core.typed.test.core$fn__28191@693c57d5>}