{:type :fn, :src "(defn parse-Difference [[_ tsyn & dsyns :as all]]\n  (when-not (<= 3 (count all))\n    (err/int-error (str \"Wrong arguments to Difference (expected at least 2): \" all)))\n  (apply r/-difference (parse-type tsyn) (mapv parse-type dsyns)))", :ns "clojure.core.typed.parse-unparse", :name "parse-Difference", :file "clojure/core/typed/parse_unparse.clj", :column 1, :line 246, :arglists ([[_ tsyn & dsyns :as all]])}