{:type :fn, :src "(u/def-type TCResult [t fl o flow]\n  \"This record represents the result of typechecking an expression\"\n  [(Type? t)\n   (p/IFilterSet? fl)\n   (p/IRObject? o)\n   (FlowSet? flow)]\n  ;:methods\n  ;[p/TCAnyType]\n  )", :ns "clojure.core.typed.type-rep", :name "TCResult-maker", :file "clojure/core/typed/type_rep.clj", :column 1, :line 920, :arglists ([t fl o flow & {meta__2330__auto__ :meta, :as opt__2331__auto__}])}