{:type :macro, :src "(defmacro with-full-impl [impl & body]\n  `(with-impl ~impl\n     (with-bindings (impl-case\n                      :clojure (clj-bindings)\n                      :cljs (cljs-bindings))\n       ~@body)))", :macro true, :ns "clojure.core.typed.current-impl", :name "with-full-impl", :file "clojure/core/typed/current_impl.clj", :column 1, :line 108, :arglists ([impl & body])}