{:ns "clojure.core.typed.test.logic.macros", :name "is", :file "clojure/core/typed/test/logic/macros.clj", :type :macro, :src "(defmacro is\n  \"Set the value of a var to value of another var with the operation\n   applied. Non-relational.\"\n  [u v op]\n  `(project [~v]\n     (== ~u (~op ~v))))", :column 1, :line 167, :macro true, :arglists ([u v op]), :doc "Set the value of a var to value of another var with the operation\n   applied. Non-relational."}