{:ns "clojure.core.typed.test.ctyp97-tvar-scoping", :name "map-2", :file "clojure/core/typed/test/ctyp97_tvar_scoping.clj", :type :fn, :src "(defn map-2\n  [f coll]\n  (lazy-seq\n   (reduce_ (t/fn [x :- a ; ERROR!! -- Cannot resolve type: a\n                   y :- (Seqable b)]\n              (append_ [(f x)] y))\n            []\n            coll)))", :column 1, :line 37, :arglists ([f coll])}