{:type :var, :src "(defonce METHOD-RETURN-NONNILABLE-ENV \n  (atom {}\n        :validator (con/hash-c? (every-pred namespace symbol?)\n                                (some-fn #(= :all %)\n                                         (con/set-c? con/znat?)))))", :ns "clojure.core.typed.method-return-nilables", :name "METHOD-RETURN-NONNILABLE-ENV", :file "clojure/core/typed/method_return_nilables.clj", :column 1, :line 8}